@import "../../styles/_responsive";

@mixin displayFlexRow($width: 100%) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: $width;
}

.places {

    width: 100%;

    &__header {
        @include displayFlexRow;
        margin: 0 0 4rem;
    }

    &__title {
        font-size: 3.2rem;
        color: var(--darkBlue);
        span {
            color: var(--black);
        }

    }

    @media (max-width: $mobileLarge) {

        &__header {
           flex-wrap: wrap; 
        }

        &__select {
            margin-top: 1rem;
        }
        
    }

}