:root {
    --black: #454545;
    --blue: #0036C1;
    --darkBlue: #244A7C;
    --darkGray: #666666;
    --lightBlue: #DAE8FC;
    --lightGray: #BFBFC0;
    --lightGreen: #D0EEF0;
    --white: #FFFFFF;
}